img {
    width: 100%;
    height: 100vh;
    display: flex;
    display: block;
}


.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 125px;
    height: auto;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.glass-effect {
    width: 470px; /* Ширина*/
    height: 380px; /* Висота*/
    padding: 25px; /* Відступ від*/
    border-radius: 50px; /* Заокруглені краї*/
    background: rgba(255, 255, 255, 0.2); /* Напівпрозорий білий */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Тінь */
    backdrop-filter: blur(10px); /* Ефект розмиття */
    border: 1px solid rgba(255, 255, 255, 0.14); /* Рамка */
    text-align: center;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    min-height: 450px;
    font-size: 48px;
}

p {
    position: absolute;
    height: -500px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    
    font-size: 16px;  
    text-align: center;
}

.input-box1 {
    position: absolute;
    height: 90px;
   
}

.input-box2 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    
    font-size: 16px;  
    text-align: center; 
}
    
.remeber-forgot{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    
    font-size: 16px;  
    text-align: center; 


} 
.register-link{
    position: fixed;
    top: 600px;
    width: 100%;
    
}





